#header{
    border: 1px solid hsl(192, 82%, 39%);
    margin: 10px;
    padding: 10px;  
    display: flex;
    justify-content: center; 
}

#header button {

    font-weight: 600;
    border-radius: 8px;
    padding: 20px;
    margin: 8px;
    cursor: pointer;
}
#header button:hover {
    transform: scale(1.05);
    background-color: lightyellow;
}

#breadcrumb{
    border: 1px solid #0a9ca1;
    margin: 8px;
    display: flex;
}
#breadcrumb a {
    background-color:rgb(192, 230, 59);
    padding: 10px;
    border-right: 5px solid black;
}
#breadcrumb a:hover {
    background-color: teal;
    text-decoration: underline;
}
#container{
    border: 1px solid #018d92;
    margin: 8px;
    padding: 8px;
    display: flex;
}
#app{
    border: 1px solid rgb(24, 190, 168);
    margin: 8px;
    padding: 8px ;
}
.folder{
    background-color: #9fad1c;
    color: rgb(141, 128, 128)
    (109, 105, 69);
    height:  110px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    border:2px solid rgb(25, 16, 99);
    border-radius: 10px;
}
.folder[purpose = name]{
    margin-top: 60px;
}
.folder [action]{
    text-decoration: underline;
    cursor: pointer;
}
.folder [action]:hover {
    color: #00ff37

}

.text-file{
    background-color: lightcoral;
    color: rgb(141, 128, 128)
    (109, 105, 69);
    height:  110px;
    width: 100px;
    margin: 10px;
    padding: 15px;
    border:2px solid red;
    border-radius: 20px;
}
.text-file[purpose = name]{
    margin-top: 60px;
}
.text-file [action]{
    text-decoration: underline;
    cursor: pointer;
}
.text-file [action]:hover {
    color: blueviolet;
    transform: scale(2);
}
